<div class="form" *ngIf="affiche">
    <div>
        <label for="titre">Titre du livre</label>
        <input type="text" id="titre" placeholder="Ajoutez un livre">
    </div>
    <div>
        <label for="auteur">Nom de l'auteur</label>
        <input type="text" id="auteur" placeholder="Ajoutez le nom de l'Auteur">
    </div>
    <div>
        <label for="statut">Statut:</label>
        <select id="statut">
            <option value="en cour">En cours</option>
            <option value="terminée">Terminée</option>
            <option value="attente">En attente</option>
        </select>
    </div>
    
    <button>Ajouter</button>
</div>
